@model HomeViewModel

<h1>Mechs of the week</h1>

<h5>Enjoy a weekly selection of our favorite mechs</h5>

<div class="row mechs-of-the-week">
	<div class="row row-cols-1 row-cols-md-3 g-4">
		@foreach (var mech in Model.MechsOfTheWeek)
		{
			<partial name="_MechCard" model="mech" />
		}
	</div>
</div>