@model IEnumerable<Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       data-toggle="dropdown"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       id="nav-dropdown"
       aria-expanded="false">
        Mechanisms
    </a>
    <ul class="dropdown-menu" aria-labelledby="nav-dropdown">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Mech" asp-action="List"
                   asp-route-category="@category.CategoryName"
                   class="dropdown-item">
                    @category.CategoryName Mechanisms
                </a>
            </li>
        }
        <li>
            <a asp-controller="Mech" asp-action="List" asp-route-Category="" class="dropdown-item">All Mechanisms</a>
        </li>
    </ul>
</li>