@charset "UTF-8";

body {
    padding-top: 90px;
    font-family: "Work Sans", sans-serif;
}

h1, .h1 {
    font-weight: 800;
    font-size: 36px;
}

h2, .h2 {
    font-weight: 700;
    font-size: 26px;
}

h3, .h3 {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

h4, .h4 {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

h5, .h5 {
    font-weight: 500;
    font-size: 24px;
}

h6, .h6 {
    font-weight: 500;
    font-size: 16px;
}

.bg-primary {
    background-color: #076ae1 !important;
}

.nav-link{
    color:#ffffff;
}

.logo-mark {
    position: relative;
    height: 167.95px;
    width: 144.06px;
    top: -84px;
    margin-bottom: -44px;
}

.mechs-of-the-week {
    margin-top: 52px;
}

.mech-button {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.mech-card {
    border: none;
}

.mech-card img {
    max-height: 10rem;
}

.card-body.mech-button {
    padding: 0px;
}

.mech-button > h4, .mech-button > .h4 {
    margin-bottom: 0px;
}

.header-line {
    width: 167px;
    background-color: #36302C;
    border: 2px solid #36302C;
}

.shopping-cart-card, form input:not([type=submit]), .form-floating input {
    background-color: #FFF;
}

.form-label {
    text-transform: uppercase;
}